@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src:url('../fontes/idroid.otf') format('opentype'); /*Ver video variaveis em css 11:11 min*/
    font-weight: normal;
}

:root {             /*o que definir aqui, serve para o documento inteiro
                        variaveis criam-se com 2 '-'*/

        --cor0: #c5ebd6;                        
        --cor1: #83e1ad;
        --cor2: #3ddc84;
        --cor3: #2fa866;
        --cor4: #1a5c37;
        --cor5: #063d1e;

        --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
        --fonte-destaque: 'Bebas Neue', sans-serif;
        --fonte-android: 'Android', cursive;

}

* {             /* asterisco serve para todos os elementos, para nao meter p,h1,h2,h3  e alterar padding, por exemplo*/
    margin: 0px;
    padding: 0px;

}

body{
    background-color:var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00A0\1F517';
}

header{
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5)); /*para fazer gradientes*/
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.623);
}

header > p { 
    color: rgba(228, 227, 227, 0.774);
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    }

nav {
    background-color: var(--cor5);
    padding: 10px;
    text-shadow: 2px 2px 10px black;
}

nav > a {
    padding: 10px;
    color:var(--cor1);
    text-decoration: none; /*para perder o traço*/
    font-weight: bolder;
    transition-duration: 0.3s;
}

nav > a:hover {
    background-color: var(--cor3);
    border-radius: 5%;
    color: black;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.596);
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}


main h1 {
    color: var(--cor5) ;
    font-family: var(--fonte-android);
    font-size: 1.5em;
    font-weight: normal;
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-weight: normal;
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
    text-indent: 8px;
}

main p {            /*nao está main > p    porque main p  é para todos os p's , mesmo os que estão dentro de outras divs*/
    margin: 15px 0px;
    text-align: justify;
    text-indent: 20px; /*para começar para dentro*/
    font-size: 1em;
    line-height: 1.5em;  /*altura entre linhas*/
}

main strong {
    color: var(--cor4);
    font-weight: bolder;
    font-style: italic;
    padding: 2px 4px;
}

main a {
    text-decoration: none;
    background-color: var(--cor1);
    color: var(--cor5);
    padding: 2px 4px;
    font-weight: bolder;
    border-radius: 5px;
}

main a:hover {
    text-decoration: underline var(--cor4);
    color: var(--cor4);
    
}
main img {
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block; /*como img não são blocks, tenho que alterar para block*/
    margin: auto;
}

div.videos {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 55%;    /*consigo tirar as barras pretas do video quando dou play*/
    position: relative;
}

div.videos > iframe {
    position: absolute;
    top: 5%;
    left: 5%;         /*como tenho position, posso usar o top e left*/
    width: 90%;
    height: 90%;
}

aside {
        background-color: var(--cor1);
        padding: 10px;
        border-radius: 10px;
        box-shadow: 4px 4px 5px var(--cor5);
}

aside > ul {
    list-style-type: '\2714\00A0'; /*para usar o check fui ao site para ver o codigo e tive que escrever assim como está e o '00A0' é o codigo do espaço*/
    list-style-position: inside;     /*para ficar com as bolinhas dentro da box verde*/
    columns: 2;   
}

aside > h3 {
    background-color: var(--cor5);
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.9em;
    padding: 5px;
}


footer a {
    color: rgb(199, 197, 197);
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline var(--cor4);
    color: var(--cor5);
    background-color: var(--cor3);
    padding: 3px;
    border-radius: 2px;
}